/* This file is for your main application css. */

@import "./phoenix.css";

.footer-image {
    position: absolute;
    width: 15%;
    min-width: 200px;
    height: auto;
    left: 10px;
    bottom: 10px;
}
