<img src="video.mjpg" class="video-feed" />
<section class="command-container">
  <h1 id="message"><%= @message %></h1>
  <div class="footer">
    <button id="btn-up">Up</button>
    <br/>
    <button id="btn-left">Left</button>
    <button id="btn-right">Right</button>
    <br/>
    <button id="btn-down">Down</button>
  </div>
</section>
